<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Confirmation</title>
          <link rel="stylesheet" href="styles/confirmation-style.css">

          <!-- Icon -->
          <link rel="icon" href="images/icons8-open-book-48.png">
     </head>
     <body>

          <head>
               <h1>Submission Confirmed!</h1>
               <h3>Thank you <%= guest.fname %>!</h3>
          </head>

          <h3>What you added to the Guestbook:</h3>

          <p><b>Name:</b> <%= guest.fname %> <%= guest.lname %></p>

          <% if (!guest.jtitle == '') { %> 
               <p><b>Job Title:</b> <%= guest.jtitle %></p>
          <% } %>

          <% if (!guest.company == '') { %>
               <p><b>Company:</b> <%= guest.company %></p>
          <% } %>

          <% if (!guest.linkedin == '') { %>
               <p><b>LinkedIn Page:</b> <%= guest.linkedin %></p>
          <% } %>

          <p><b>Email:</b> <%= guest.email %></p>

          <% if (!guest.howmet == '') { %>
               <p><b>How we met:</b> <%= guest.howmet %></p>
          <% } %>

          <% if (!guest.other == '') { %>
               <p><b>Additional Info:</b> <%= guest.other %></p>
          <% } %>
          
          <% if (!guest.message == '') { %>
               <p><b>Message:</b> <%= guest.message %></p>
          <% } %>

          <% if (!guest.maillist == '') { %>
               <p><b>Add to Mail List?:</b> Yes</p>
          <% } else { %>
               <p><b>Add to Mail List?:</b> No</p>
          <% } %>

          <% if (!guest.format == '') { %>
               <p><b>Email Format:</b> <%= guest.format %></p>
          <% } %>

          <a id="button" href="/">Return Home</a>

          <a id="button" href="/admin">Guestbook</a>

          <footer>
               <a target="_blank" href="https://icons8.com/icon/114325/open-book">Open Book</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
          </footer>  

     </body>
</html>